target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.src/main/java/org.example.rpsfxgl/Akun.java
.src/main/java/org.example.rpsfxgl/LoginScreen.java
.src/main/java/org.example.rpsfxgl/RegisterScreen.java
.src/main/java/org.example.rpsfxgl/Reglog.java
.src/main/resources/org.example.rpsfxgl/LoginScreen.fxml
.src/main/resources/org.example.rpsfxgl/RegisterScreen.fxml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store